/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  /* margin-bottom: 20%; */
}

.promotion {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.promotion h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.promotion p {
  font-size: 1.2rem;
  color: #555;
}

.promotion button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.promotion button:hover {
  background-color: #0056b3;
}

.device-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.device {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.device img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.device h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.device p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 10px;
}

.device button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.device button:hover {
  background-color: #0056b3;
}

.device-details {
  text-align: center;
}

.device-details img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.device-details h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.device-details p {
  font-size: 1.4rem;
  color: #555;
  margin-bottom: 10px;
}

.device-details button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.device-details button:hover {
  background-color: #0056b3;
}

li {
  list-style: none;
  margin-bottom: 10px;
  margin: 10px 20px;
  display: inline-block;
  padding: 5px 10px;
  transition: 0.35s;
}

a {
  text-decoration: none;
  color: #007bff;
  font-size: 20px;
}

a:hover {
  color: #0056b3;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center;
}

ul {
  text-align: center;
  margin-right: 35px;
  cursor: pointer;
}

.container-aparelhos {
  padding: 150px;
  margin: 100px;
  margin-bottom: 10%;
  border-radius: 20px;
  background-color: #ddd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 16px;
}

.container-ul {
  list-style: none;
  padding: 0;
}

.container-ul li {
  margin-bottom: 8px;
}

.container-ul li a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.2s ease-in-out;
}

.container-ul li a:hover {
  color: #0056b3;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.page img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.page h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center;
  background-color: #d4d4d4;
  border-radius: 15px;
  margin-left: 200px;
  width: 400px;
}